.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__front {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 2rem 1.5rem; */
}
