/* 1. Reset box model sizing globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
}

/* 3. Neutralize form elements and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  appearance: none; /* Removes native OS styling */
  -webkit-appearance: none;
}

/* 4. Fix lists and links */
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.page {
  margin: 0px auto;
  padding: 0px;
}
